---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/estructura/Hero.astro';
import Experiencia from '@/components/estructura/Experiencia.astro';
import Conocimientos from '@/components/estructura/Conocimientos.astro';
import Cursos from '@/components/estructura/Cursos.astro';
import Proyectos from '@/components/estructura/Proyectos.astro';
import Educacion from '@/components/estructura/Educacion.astro';
import Referencias from '@/components/estructura/Referencias.astro';
import Manager from '@/components/Manager.astro';

---
<Layout title="DAQM3D">
	<main>
		<Hero/>

		<Experiencia/>
		
		<Conocimientos/>
		<Cursos/>
		
		<Proyectos/>

		<Educacion/>
		<Referencias>
	</main>

	<Manager>
</Layout>

<style>
main{
	padding: 4rem;
	margin: auto;
	width: 100%;
	max-width: 800px;
	display: grid;
	grid-template-areas: 
		"Hero Hero"
		"Experiencia Experiencia"
		"Conocimientos Cursos"
		"Proyectos Proyectos"
		"Educacion Referencias";
		grid-template-columns: repeat(2,1fr) ;
		grid-column-gap: 1rem;
	section[id="Hero"]{
		grid-area: Hero;
	}
	section[id="Experiencia"]{
		grid-area: Experiencia;
	}
	section[id="Conocimientos"]{
		grid-area: Conocimientos;
	}
	section[id="Cursos"]{
		grid-area: Cursos;
	}
	section[id="Proyectos"]{
		grid-area: Proyectos;
	}
	section[id="Educacion"]{
		grid-area: Educacion;
	}
	section[id="Referencias"]{
		grid-area: Referencias;
	}
}

 @media (width < 450px) {
	main{
		grid-template-areas: 
		"Hero"
		"Experiencia"
		"Conocimientos"
		"Cursos"
		"Proyectos"
		"Educacion"
		"Referencias";
		grid-template-columns: 1fr;
	}

 }
</style>
