---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experiencia from '../components/Experiencia.astro';
import Conocimientos from '../components/Conocimientos.astro';
import Cursos from '../components/Cursos.astro';
import Proyectos from '../components/Proyectos.astro';
import Educasion from '../components/Educasion.astro';
import Referencias from '../components/Referencias.astro';
import Manager from '../components/Manager.astro';

---

<Layout title="DAQM3D">
	<main>
		<h1>PORTFOLIO</h1>
		<Hero/>

		<Experiencia/>
		
		<Conocimientos/>
		<Cursos/>
		
		<Proyectos/>

		<Educasion/>
		<Referencias>
	</main>

	<Manager>
</Layout>

<style>

</style>
