---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/estructura/Hero.astro';
import Experiencia from '@/components/estructura/Experiencia.astro';
import Conocimientos from '@/components/estructura/Conocimientos.astro';
import Cursos from '@/components/estructura/Cursos.astro';
import Proyectos from '@/components/estructura/Proyectos.astro';
import Educacion from '@/components/estructura/Educacion.astro';
import Referencias from '@/components/estructura/Referencias.astro';
import Manager from '@/components/Manager.astro';

import { basics } from '@/jsons/cv-AP.json';
const { alias, label } = basics;

import plantillaFondoPrint from '@/img/plantillaFondoPrint.webp';
---

<Layout
  title={`Portfolio Developer Full Stack`}
  description={`Portfolio de ${alias} - ${label}`}
  alias={`${alias}`}
>
  <main>
    <Hero />

    <Experiencia />

    <Proyectos />

    <div class="binomio">
      <Conocimientos />
      <!-- <Cursos /> -->
    </div>

    <div class="binomio">
      <Educacion />
      <Referencias />
    </div>
  </main>
  <Manager />
</Layout>

<style define:vars={{ plantillaFondoPrint: `url(${plantillaFondoPrint.src})` }}>
  main {
    z-index: 1;
    background: radial-gradient(var(--main-color) 90%, transparent);
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin: auto;
    width: 100%;
    max-width: 800px;
    .binomio {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 2rem;
    }
    .print {
      display: none;
    }
  }
  @media print {
    @page {
      size: Letter;
      --margin-cromiun: 15mm;
      margin: var(--margin-cromiun, 0.5in) 0;
    }
    main {
      padding: 0 3.5rem;
      background-image: var(--plantillaFondoPrint);
      background-size: 100%;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
      .print {
        display: inherit;
      }
      .notPrint {
        display: none;
      }
    }
  }
</style>
