---
import Section from '@/components/Section.astro';
import { certificates } from '@/jsons/cv-AP.json';
---

<Section id="Cursos" title="Cursos">
  <ul>
    {
      certificates.map(({ name, date, issuer, url }) => {
        return (
          <li>
            <article>
              <header>
                <a href={url}>
                  <h3>{name}</h3>
                </a>
                <h4>{issuer}</h4>
              </header>
              <footer>
                <time datetime={`$[startDate - endDate ?? "actualmente" ]`}>
                  Año {date ? ` ${date}` : 'Actualmente'}
                </time>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    a:hover {
      text-decoration: underline;
    }

    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--text3-color);
    }
  }
  @media print {
    ul {
      li {
        break-inside: avoid;
        @-moz-document url-prefix() {
          break-inside: auto;
        }
        h4 {
          opacity: 60%;
        }
      }
    }
  }
</style>
